In [ ]:
#import sqlparse
#from sqlparse.sql import IdentifierList, Identifier
#from sqlparse.tokens import Keyword, DML
#from query_representation.utils import *

from moz_sql_parser import parse
#from mo_sql_parsing import parse as parse
import os


import pandas as pd
from collections import defaultdict

from IPython.display import HTML
from IPython.display import display_html

In [ ]:
QDIR = "./queries/tpcds/all"

In [ ]:
FNS = os.listdir(QDIR)

In [ ]:
print(len(FNS))
print(FNS[86])

In [ ]:
sqls = []
for fn in FNS:
    if ".sql" not in fn:
        continue
    if "all" in fn:
        continue
    fn = os.path.join(QDIR, fn)
    with open(fn, "r") as f:
        sql = f.read()
#     if "like" in sql.lower():
#         print(sql)
    sqls.append(sql)

In [ ]:
print(len(sqls))

In [ ]:
#print(sqls[2])

In [ ]:
# for si, q in enumerate(sqls):
#     if "q4" in q.lower():
#         print(si)
#         print(q)
#         print("********************************")
#         #break

In [ ]:
#sql = sqls[50]
sql = sqls[56]

In [ ]:
print(sql)

In [ ]:
p2 = parse(sql)

# Q87 very hard to parse;
### TODO: maybe queries w/ multiple subqueries, we just try to get each select block and parse them individually

In [ ]:
sql4 = """-- q87


select count(*) 
from (select distinct c_last_name, c_first_name, d_date
       from store_sales, date_dim, customer  -- skan_memo_stash_87
       where store_sales.ss_sold_date_sk = date_dim.d_date_sk
         and store_sales.ss_customer_sk = customer.c_customer_sk
         and d_month_seq between 1212 and 1212+11)
       except
      (select distinct c_last_name, c_first_name, d_date
       from catalog_sales, date_dim, customer
       where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
         and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
         and d_month_seq between 1212 and 1212+11)
       except
      (select distinct c_last_name, c_first_name, d_date
       from web_sales, date_dim, customer
       where web_sales.ws_sold_date_sk = date_dim.d_date_sk
         and web_sales.ws_bill_customer_sk = customer.c_customer_sk
         and d_month_seq between 1212 and 1212+11)
cool_cust

"""

sql4 = """-- q87


select count(*) 
from ((select distinct c_last_name, c_first_name, d_date
       from store_sales, date_dim, customer  -- skan_memo_stash_87
       where store_sales.ss_sold_date_sk = date_dim.d_date_sk
         and store_sales.ss_customer_sk = customer.c_customer_sk
         and d_month_seq between 1212 and 1212+11)
       except
      (select distinct c_last_name, c_first_name, d_date
       from catalog_sales, date_dim, customer
       where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
         and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
         and d_month_seq between 1212 and 1212+11))
cool_cust

"""

# sql4 = """-- q87


# select count(*) 
# from (select distinct c_last_name, c_first_name, d_date
#        from store_sales, date_dim, customer  -- skan_memo_stash_87
#        where store_sales.ss_sold_date_sk = date_dim.d_date_sk
#          and store_sales.ss_customer_sk = customer.c_customer_sk
#          and d_month_seq between 1212 and 1212+11)
# cool_cust
# """
parse(sql4)

# Fix for Q40, change order of from tables

In [ ]:

sql3 = """select top 100 
   w_state
  ,i_item_id
  ,sum(case when (cast(d_date as date) < cast ('1998-04-08' as date)) 
        then cs_sales_price - coalesce(cr_refunded_cash,0) else 0 end) as sales_before
  ,sum(case when (cast(d_date as date) >= cast ('1998-04-08' as date)) 
        then cs_sales_price - coalesce(cr_refunded_cash,0) else 0 end) as sales_after
 from
   warehouse  -- skan_memo_stash_40
  ,item
  ,date_dim
  ,catalog_sales left outer join catalog_returns on
       (cs_order_number = cr_order_number 
        and cs_item_sk = cr_item_sk)

 where
     i_current_price between 0.99 and 1.49
 and i_item_sk          = cs_item_sk
 and cs_warehouse_sk    = w_warehouse_sk 
 and cs_sold_date_sk    = d_date_sk
 and d_date >= dateadd(dd, -30, '1998-04-08')
 and d_date <= dateadd(dd, 30, '1998-04-08') 
 group by
    w_state,i_item_id
 order by w_state,i_item_id"""
parse(sql3)

# replace intersect by union seems to work for now;

In [ ]:
sql2 = """select top 100 count(*) from (
    select distinct c_last_name, c_first_name, d_date
    from store_sales, date_dim, customer -- skan_memo_stash_38
          where store_sales.ss_sold_date_sk = date_dim.d_date_sk
      and store_sales.ss_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11) test"""
sql2 = """select top 100 count(*) from (
    select distinct c_last_name, c_first_name, d_date
    from store_sales, date_dim, customer -- skan_memo_stash_38
          where store_sales.ss_sold_date_sk = date_dim.d_date_sk
      and store_sales.ss_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11
  union
    select distinct c_last_name, c_first_name, d_date
    from catalog_sales, date_dim, customer
          where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
      and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11) tmp"""
parse(sql2)

In [ ]:
p2.keys()

In [ ]:
#p2["with"]["value"]["from"]["value"]

# Example commands exploring sample query

In [ ]:
print(p2.keys())
print(p2["from"])
print("SELECT: ", p2["select"])
print("WHERE: ", p2["where"])

# LT1
#print(p2["where"]["and"][-1]["lt"])
# EQ1, join
print(p2["where"]["and"][0]["eq"])

# element 0: column name / or operations on it, and element 1 is constant / other col;
for x in p2["where"]["and"]:
    print(x)

# name = sales_detail is an alias for a large-ass query / subquery; 
# print(len(p2["with"]["value"]["from"]["value"]["union"]))

# for x in p2["with"]["value"]["from"]["value"]["union"]:
#     print(x.keys())
#     print(x["where"])

In [ ]:
def parse_predicates(parsed_sql):
    alldata = {}
    
    def handle_ops(data, key):
        #print("key: ", key)
        #print("data: ", data)
#         if key == "exists":
#             print("TODO: handle exists")
#             return
#         if data[key].keys()[0] == "exists":
#             print("handle not exists")
#             return
        #print(data, key)
        if isinstance(data[key], dict):
            print("FIX handle ops:")
            print(data)
            return
        col1 = data[key][0]
        if isinstance(col1, list) or isinstance(col1, dict):
            # TODO: extract the column thing happening here
            col1 = str(col1)
            tablename = "complex"
        elif "." in col1:
            #print(col1)
            tablename = col1[0:col1.find(".")]
            col1 = col1[col1.find(".")+1:]
            #print(tablename, col1)
        else:
            tablename = "X"
            
        if tablename not in alldata:
            alldata[tablename] = {}
        
        if col1 not in alldata[tablename]:
            alldata[tablename][col1] = {}
            
        if key not in alldata[tablename][col1]:
            alldata[tablename][col1][key] = set()
        
        curkeydata = alldata[tablename][col1][key]
            
        if key == "eq" or key == "neq":
            #assert len(data["eq"]) == 2
            assert len(data[key]) == 2
            #val2 = data["eq"][1]
            val2 = data[key][1]
            if isinstance(val2, int) or isinstance(val2, float):
                curkeydata.add(val2)
            elif isinstance(val2, dict):
                #print(type(val2))
                #print("Val2: ", val2)
                #assert len(val2) == 1
                #print(val2.keys())
                #print(data)
                #alldata[tablename][col1].add(val2["literal"])
                # TODO: can have things like literal etc.
                #print(val2)
                #if val2.keys
                #print(len(val2))
                #print(val2)
                if len(val2) > 1:
                    #print("**SKIPPING handleobj2**")
                    handle_obj(val2)
                else:
                    curkeydata.add(str(val2))
            else:
                #print("JOIN?")
                #print(data)
                #print(val2)
                #assert "." in val2
                return
            
        elif key in ["lt", "gt", "lte", "gte"]:
            assert len(data[key]) == 2
            val2 = data[key][1]
            curkeydata.add(str(val2))
            return
        else:
            print("UNKNOWN")
            print(key)
        
    def handle_obj(obj):
        if isinstance(obj, list):
            for obj1 in obj:
                handle_obj(obj1)

        elif isinstance(obj, dict):
            for k in obj:
                # check for from + where in joins
                #print("k: ", k)
                if k == "where":
                    for k2 in obj[k]:
                        if k2 == "or":
                            pass
                            #print("!!OR!!")
                            #print(obj)
                        elif k2 == "and":
                            for curpred in obj[k][k2]:
                                #print("curpred: ", curpred)
                                for curpredk in curpred:
                                    #print("ck: ", curpredk)
                                    #print("going to call handle_ops1")
                                    
                                    handle_ops(curpred, curpredk)
                        elif k2 in ["eq", "lt", "lte", "gt", "gte"]:
                            handle_ops(obj[k], k2)
                        else:
                            pass
                            #print(k2)
                else:
                    #print("going to call handleobj2")
                    handle_obj(obj[k])
        else:
            pass
                    
    handle_obj(parsed_sql)
    return alldata

In [ ]:
for si, sql in enumerate(sqls):
    if "intersect" in sql.lower():
        print(si, " INTERSECT")

In [ ]:
ret = parse_predicates(p2)
for k,v in ret.items():
    print(k,v)

In [ ]:
from collections import defaultdict
alldfdata = defaultdict(list)
for si, sql in enumerate(sqls):
    #print(sql)
#     if "q80" in sql:
#         print("Skipping Query 89")
#         continue
    
    # intersect queries
    if si in [32, 84, 89, 91]:
        continue
    
    if si in [27, 32, 45, 50, 56, 58, 78, 84, 85, 90, 92]:
    #if si in [27, 45, 50]:   
        continue
        
    if si in [22, 23, 31]:
        continue
    
    print("Query: ", si)
    parsed_sql = parse(sql)
    curdata = parse_predicates(parsed_sql)
#     if si > 1:
#         break
    for inp in curdata:
        for col in curdata[inp]:
            alldfdata["input"].append(inp)
            alldfdata["column"].append(col)
            for op, vals in curdata[inp][col].items():
                if op == "eq":
                    alldfdata["discrete_ops"].append(1)
                else:
                    alldfdata["discrete_ops"].append(0)
                
                if op == "lt":
                    alldfdata["cont_ops"].append(1)
                else:
                    alldfdata["cont_ops"].append(0)
                
                # TODO: parse in better; can we parse these values somehow?
                if op == "in":
                    alldfdata["discrete_ops"].append(1)
                    alldfdata["in_ops"].append(1)
                else:
                    alldfdata["in_ops"].append(0)
                    
                if op == "like":
                    alldfdata["like_ops"].append(1)
                else:
                    alldfdata["like_ops"].append(0)

In [ ]:
df = pd.DataFrame(alldfdata)

In [ ]:
#df["equal_dates"]

In [ ]:
HTML(df[["like_ops", "discrete_ops", "cont_ops", "in_ops"]].\
     describe(percentiles=[0.9,0.99]).reset_index().to_html(index=False))